.about {
    @include fundo-padrao;
    padding: 2rem;

    @media (min-width: 1024px) {
        padding-top: 8.25rem;
    }
}

.about-article {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
}

.about-titulo {
    @include titulo-mobile;

    @media (min-width: 1024px) {
        @include titulo-desktop;
    }
}

.about-subtitulo {

    font-size: 16px;
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;

    @media (min-width: 768px) {
        font-size: 36px;
    }
}

.about-texto {
    font-size: 16px;
    color: $cor-principal;
    line-height: 1.5;

    @media (min-width: 1024px) {
        font-size: 18px;
    }
}

.about-botao {
    @include botao-mobile;
    text-align: center;

    @media (min-width: 768px) {
        @include botao-padrao($width: 300px, $bottom: 0);
        width: 100%;
        margin-top: 15px;
    }

    &:hover {
        color: black;
    }


}







.about-localidade-titulo {
    font-size: 31px;
    margin: 30px 0;
    font-weight: 700;
}

.about-localidade-texto {
    line-height: 1.5;

    @media (min-width: 768px) {
        font-size: 18px;
    }
}


.about-localidade-img {
    width: 100%;
    margin-top: 30px;

    @media (min-width: 768px) {
        width: 50%;
        margin-top: 0;
    }
}

.about-localidade-img-desktop {
    display: none;

    @media (min-width: 768px) {
        display: flex;
        width: 50%;
    }
}


.about-localidade-titulo-dois {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 700;
    margin-top: -100px;
    width: 165px;

    @media (min-width: 768px) {
        width: unset;
        margin-top: -300px;
        font-size: 31px;
    }
}

.about-localidade-texto-dois {
    line-height: 1.5;

    @media (min-width: 768px) {
        width: 500px;

    }
}

.about-localidade-img-div-mapa {
    text-align: right;

    @media (min-width:768px) {
        width: 100%;
        height: 100%;
    }

    @media (min-width: 992px) {
        display: none;
    }

}


.about-localidade-img-div {
    @media (min-width: 768px) {
        display: flex;
    }
}

.about-localidade-img-mapa {
    width: 80%;

    @media (min-width:768px) {
        width: 50%;
    }

}

.about-localidade-img-mapa-desktop {
    display: none;

    @media (min-width: 992px) {
        display: block;
        width: 50%;
        margin: auto;
    }

}

.about-localidade-desktop {
    @media (min-width: 992px) {
        display: flex;
        width: 100%;

    }
}

.about-localidade-article {
    @media (min-width: 992px) {

        width: 50%;
    }
}

.texto-desktop {
    display: none;

    @media (min-width: 992px) {
        display: flex;
        flex-direction: column;
    }

    h2 {
        margin-bottom: 30px;
        font-weight: 700;
        margin-top: 30px;
    }

    p {
        line-height: 1.5;
        font-size: 18px;
    }
}

.texto-mobile {
    @media (min-width: 992px) {
        display: none;
    }
}

.about-descubra {
    background-color: $cor-secundaria;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}



.about-descubra-article {
    @media (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}


.about-descubra-titulo {
    font-size: 36px;
    font-weight: 700;
    color: $cor-principal;
}

.about-descubra-texto {
    font-size: 16px;
    color: $cor-principal;
    margin: 30px 0;
    line-height: 1.5;

    @media (min-width: 768px) {
        font-size: 16px;
        color: $cor-principal;
        margin-top: 30px;
    }

}


.about-descubra-img {
    width: 100%;
    margin: auto;
    padding-top: 30px;
    height: auto!important;

}   


.about-descubra-botao {
    @include botao-mobile;

    @media (min-width: 768px) {
        @include botao-padrao($width: 400px, $padding: 1rem 4rem, $bottom: 0);
        width: 100%;
        margin-top: 15px;
    }
}