.busca {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


    @media (min-width: 992px) {
   
        text-align: center;
    }

    @media (min-width: 1200px) {
        text-align: left;
    }
}

.busca-titulo {
    font-size: 31px;
    font-weight: 700;
    margin: 30px 0;
    
}

.busca-texto {
    margin: 30px 0;

    a {
        color: black;
        font-weight: 700;

        &:hover{
           opacity: .8;
        }
        
    }
}

.busca-form {
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
        @media (min-width: 768px) {
           
        }
    }

}

.busca-input {
    @include input-padrao ($background-color: transparent, $padding: .8rem 1rem);

    @media (min-width: 992px) {
        margin-right: 15px;
    }
}

.busca-botao {
    @include botao-padrao ($width: 300px);
    width: 100%;
    text-align: center;
    margin-bottom: 2rem!important;
    @media (min-width: 992px) {
        @include botao-padrao ($bottom: 1rem, $width: 300px);
        width: 100%;
    }
}

form#search-filter-form-291.searchandfilter {

    ul {

        @media (min-width: 1240px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        select {
            @media (min-width: 992px) {
                margin: .4rem 1rem;
            }
        }

        input{
            @include botao-padrao ($width: 300px);
            width: 100%;
            text-align: center;
            
           
            @media (min-width: 992px) {
                @include botao-padrao ($bottom: 1rem, $width: 300px);
                width: 100%;
                padding: 1rem 2rem;
                margin: .4rem 1rem;
            }
        }
    }
}

#dicas{
    h2{
        a{
            text-decoration: none;
            color: black;

           
        }
    }

    a{
        div.btn.btn_first{
            display: none;
        }
    }
   
 
}

.results{
    a{
        text-decoration: none;
        color: black;
        pointer-events: none;
    }
}

.busca-img{
    @media (min-width: 992px){
        width: 40%;
    }
}

.media-body{
    text-align: left;

}

.busca-h2{
    font-weight: 700;
    font-size: 16px;
    @media (min-width: 992px){
        font-size: 18px;
    }
}

.busca-p{

    font-size: 16px;
    @media (min-width: 992px){
        font-size: 18px;
    }
}