.contato {
    padding: 2rem 0;
    @include fundo-padrao;
}

.contato-titulo {
    @include titulo-mobile;

    @media (min-width: 768px) {
        @include titulo-desktop;
        margin-top: 100px;
    }
}

.contato-texto {
    font-size: 16px;
    font-weight: 700;
    color: $cor-principal;
    margin-bottom: 30px;

    @media (min-width: 768px) {
        font-size: 36px;

    }
}

.contato-texto-formulario {
    font-size: 16px;
    color: $cor-principal;
    margin-bottom: 30px;

    @media (min-width: 768px) {
        font-size: 24px;
    }
}
.contato-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width:768px) {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
}

form.wpcf7-form.init,
.wpcf7-form.invalid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.wpcf7-not-valid-tip{
    margin-top: 0;
    margin-bottom: 1rem;
}
.wpcf7-response-output{
    border-radius: 15px;
    color: white;
    padding: 1rem;
    background-color: black;
}
form.wpcf7-form.init{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width:768px) {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
}

.contato-form-input {
    @include input-padrao($background-color: transparent, $color: $cor-principal);

    &::-webkit-input-placeholder {
        color: $cor-principal !important;
        opacity: .8;
        text-align: left;
    }

    @media (min-width: 992px) {
        @include input-padrao($width: 600px, $background-color: transparent, $color: $cor-principal);
        margin-right: 1rem;
    }
}

.contato-form-botao {
    @include botao-padrao ($width: 300px);
    width: 100%;
    margin-top: 15px;

    @media (min-width:992px) {
        @include botao-padrao ($bottom: 1rem, $width: 300px);
    }
}

.contato-form-textarea {
    @include text-area;
    color: white;
}

.contato-form-um,
.contato-form-dois {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;

}

option {
    color: black;
}