.ensino-cultive {
    padding-bottom: 2rem;
    @include fundo-padrao;
    @media (min-width: 1024px) {
        padding-top: 8.25rem;
    }
}

.ensino-cultive-article {
    display: flex;
    flex-direction: column;
}
.ensino-cultive-titulo {
    @include titulo-mobile;

    @media (min-width: 768px){
        width: 600px;
        @include titulo-desktop;
    }
}
.ensino-cultive-texto{
    color: $cor-principal;
    margin-bottom: 2rem;

    @media (min-width: 768px){
        width: 270px;
    }
    @media (min-width: 1024px){
        width: 470px;
        font-size: 24px;
    }
}


.ensino-conheca{
    background-color: $cor-secundaria; 

    @media (min-width: 768px){
        display: flex;
        flex-direction: row; 
    }
}

.ensino-conheca-article{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    padding: 2rem;
    justify-content: center;    
}


.ensino-conheca-texto-desktop{
    
    @media (min-width: 768px){
        margin-top: 0;
    }
}

.ensino-conheca-img-cima-desktop{
    width: 100%;
}
.ensino-conheca-img-baixo{
    width: 100%;
}
.ensino-conheca-titulo{
    font-size: 24px;
    font-weight: 700;
    color: $cor-principal;
    margin-top: -20px;

    @media (min-width: 768px){   
        font-size: 24px;
        font-weight: 700;
        color: $cor-principal;
        margin: 0;
    }
    @media (min-width: 1024px){
        font-size: 40px;
        text-align: left;
    }
}
.ensino-conheca-texto{
    color: $cor-principal;
    line-height: 1.5;
    @media (min-width: 768px){
        margin: 0;
        margin-top: 20px;
    }
    @media (min-width: 1024px){
        font-size: 18px;
    }
}
.conhecer-produtos-link{
    width: 100%;
}
.ensino-conheca-botao{
   @include botao-mobile;
   margin-top: 30px;
   

   @media (min-width: 768px){
        @include botao-padrao ($width: 300px);
        width: 100%;
        text-align: center;
        
       
   }
}



.ensino-conheca-imgs-desktop{
    @media (min-width: 768px){
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
    }
}




.ensino-atencao{
    background-color: $cor-terciaria;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
}

.ensino-atencao-titulo{
    font-size: 31px;
    font-weight: 700;
    margin-bottom: 1rem;
}
.ensino-atencao-texto{
    font-size: 18px;
    font-weight: 400;
}
.ensino-atencao-link{
    text-decoration: underline;
    color: $cor-secundaria;
    font-weight: 700;

    &:hover{
        opacity: .5;
        color: $cor-secundaria;
        cursor: pointer;
        text-decoration: underline;
    }
}



.ensino-colheita{
    background-color: $cor-secundaria;

}
.ensino-colheita-article{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   
}
.ensino-colheita-titulo{
    color: $cor-principal;
    font-size: 24px;
    font-weight: 700;
    margin-top: 49px;
    margin-bottom: 20px;

    @media (min-width: 1024px){
        font-size: 48px;
    }
}
.ensino-colheita-texto{
    color: $cor-principal;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
        @media (min-width: 1024px){
            font-size: 24px;
        }
}


.ensino-colheita-imgs{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px){
        flex-direction: row;
        justify-content: space-around;
    }
}
.ensino-colheita-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 32px;
    height: 200px;
    width: 300px;
    @media (min-width: 768px){
        width: 380px;
    }   
}


.ensino-colheita-botao{
    @include botao-padrao ($bottom:.5rem);
    align-self: center;
    text-align: center;
    padding: .8rem;
    &:hover{
        color:rgba(0, 0, 0, 0.8);
    }
}

.modal{
    padding-top:90px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  rgba(0, 0, 0, 0.8);
    margin: auto;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;

    @media (min-width: 992px){
        padding-top: 0;
    }
}
.is-visible {
    visibility: visible;
    opacity: 1;
}

.modal-dialog {
    position: relative;
    margin: auto;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column; 
    
    overflow: auto;

    @media (min-width: 375px){
        width: 90%;
    }
    @media (min-width: 768px){
        width: 70%;
    }
    @media (min-width: 992px){
        flex-direction: row;
        width: 800px;
        height: 95vh;
        overflow: unset;
    }

}

.modal-img{
    display: none;

    @media (min-width: 992px){
        width: 100%;
        display: block;
    }
      
  }
.modal-conteudo{
    background-color: $cor-terciaria;
    padding: 1rem;
}

.modal-header{
    display: flex;
    justify-content: space-between;
}
.modal-titulo{
    font-size: 24px;
    font-weight: 700;
}

.modal-botao{
    background-color: transparent;
    border: none;
    transform: scale(2);
    cursor: pointer;
}

.modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

.modal-form-input{
    @include input-padrao($background-color:transparent);
}

.modal-form-botao{
    @include botao-padrao ($background-color: $cor-secundaria, $color: $cor-principal, $bottom: 0, $width: 300px);
    width: 100%;
    margin-top: 15px;
}

.modal-form-textarea{
    @include text-area ($border: 1px solid black);
    width: 300px;

    &::-webkit-input-placeholder { 
        color: $cor-secundaria!important;
        opacity: .8;
        text-align: left;   
    }
}

