.footer-newsletter {
    background-color: rgba(241, 241, 241, 1);
    padding: 2rem 0;
}

.footer-newsletter-titulo {
    font-size: 33px;
    font-weight: 700;
}

.footer-newsletter-texto {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}


.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;

    @media (min-width:992px) {
        flex-direction: row;
        justify-content: space-between;
        align-content: flex-start;
        align-items: flex-start;
    }
}

.footer-form-botao {
    @include botao-padrao ($width: 300px, $bottom: 0);
    width: 100%;

    @media (min-width:992px) {
        @include botao-padrao ($bottom: 0, $width: 300px);
        padding: 1rem 3rem;
    }
}

.footer-form-input {
    @include input-padrao($margin-bottom: 0, $background-color: #f1f1f1);
    margin-bottom: 1rem;

    @media (min-width: 992px) {
        margin-right: 1rem;
        margin-bottom: 0;
    }
}

.footer-contato {
    background-color: $cor-secundaria;

}

.footer-contato-article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-contato-spanum {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    justify-content: space-between;

    @media (min-width: 768px) {
        flex-direction: row;
        margin-top: 30px;
    }
}

.footer-contato-spandois {
    justify-content: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 992px) {
        flex-direction: row;
        margin: 30px 0;
        align-items: center;
        justify-content: flex-end;
        align-content: flex-end;
    }
}


.footer-contato-img {
    margin-top: 30px;
    width: 60%;
    padding: 0 .6rem;

    @media (min-width: 768px) {
        width: 20%;
        margin-top: 0;

    }
}

.footer-contato-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    @media (min-width: 768px) {
        flex-direction: row;
    }

    li {
        padding: 20px 0;

        @media (min-width: 768px) {
            padding: 0 5px;
        }

        a {
            color: $cor-principal !important;

            &:hover {
                font-weight: 700;
                color: $cor-principal;
            }
        }
    }
}


.footer-contato-telefone {
    display: flex;
    margin: 15px 0;

    @media (min-width: 992px) {
        margin: 0;
        margin-left: 15px;


    }

    li {
        display: flex;
        margin: 0 10px;

        a {
            font-size: 14px;
            color: $cor-principal;
            margin: 0 5px;
        }
    }
}

.footer-contato-email {
    font-size: 14px;
    color: $cor-principal !important;
    margin-bottom: 15px;

    @media (min-width: 992px) {
        margin: 0;
        margin-left: 15px;
    }


}

.footer-contato-redes-sociais {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;

    @media (min-width: 992px) {
        margin-top: 0;
    }
}

.footer-redes-sociais {
    padding: 1rem;
}

.texto-open {
    color: white;
    text-align: center;

    font-size: 8px;
    padding-bottom: 1rem;

    @media (min-width: 768px) {
        font-size: 12px;
    }
}
