.home-inicial {
    padding-bottom: 2rem;
    padding-top: 6rem;
    @include fundo-padrao;

    @media (min-width: 1024px) {
        background-position: 25% 50%;
        padding-top: 8.25rem;
    }
}

.home-inicial-article {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
        align-items: start;
    }
}

.home-inicial-titulo {
    @include titulo-mobile;

    @media (min-width: 1024px) {
        @include titulo-desktop;
    }
}

.home-inicial-botao {
    @include botao-padrao ($width: 300px, $bottom: 1rem);
    text-align: center;
    width: 100%;

    &:hover {
        color: black;
    }
}

//tira a setinha dos botões mobile
.botao-seta {
    @media (min-width: 768px) {
        display: none;
    }
}

//infos de cafe
.home-infos {
    background-color: $cor-secundaria;
    display: flex;
    align-items: center;
    padding: 4rem 0;
}

.home-infos-article {
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
        max-width: 800px;
    }

    @media (min-width: 1440px) {
        margin-top: 105px;
    }
}

.home-infos-titulo {
    font-size: 36px;
    color: $cor-principal;
    font-weight: 700;
}

.home-infos-texto {
    color: $cor-principal;
    font-size: 16px;
    font-weight: 400;
    padding: 2rem 0;
    line-height: 1.5;

    @media (min-width:1024px) {
        font-size: 18px;
    }
}

a.home-infos-botao {
    @include botao-mobile;

    @media (min-width: 768px) {
        @include botao-padrao($bottom: 1rem);
        width: 100%;
        padding: 1rem 3rem;
    }

    &:hover {
        color: rgb(226, 206, 91);

        @media (min-width: 768px) {
            color: black;
        }
    }
}

//carrosel de cafes
.tipos-cafe-article {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 768px) {
        margin-top: 30px;
    }
}

.tipos-cafe-titulo {
    font-weight: 700;
    margin-bottom: 1rem;

    @media (min-width: 950px) {
        font-size: 36px;
    }
}

.tipos-cafe-paragrafo {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-top: 1rem;
    text-align: left;
    justify-content: center;
    margin-left: 2rem;
}

.tipos-cafe-texto {
    font-size: 16px;
    line-height: 1.5;

    @media (min-width: 950px) {
        font-size: 18px;
    }
}

.tipos-cafe-img {
    width: 100%;

    @media (min-width: 768px) {
        width: 50%;
    }
}

.slick-slide.tipos-cafe-article {
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
    }
}

.home-info-outra {
    display: flex;
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 65vh;

    @media (min-width: 768px) {
        background-position: right;
        height: unset;
    }
}


.home-info-outra-article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #000;
    width: 100%;

    @media (min-width: 768px) {
        max-width: 50%;
    }
}

.home-info-outra-titulo {
    font-size: 36px;
    color: $cor-principal;
    font-weight: 700;
    padding-top: 2rem;

    @media (min-width: 1024px) {
        margin-right: 1rem;
    }
}

.home-info-outra-texto {
    color: $cor-principal;
    font-size: 16px;
    font-weight: 400;
    padding: 1rem 0;
    line-height: 1.5;

    @media (min-width: 768px) {
        padding: 0;
        width: 80%;
    }

    @media (min-width: 1024px) {
        font-size: 18px;
        padding: 2rem 0;
    }
}

.home-info-outra-botao {
    @include botao-mobile;

    @media (min-width: 768px) {
        @include botao-padrao($width:300px, $border-radius: 2rem, $bottom: 2rem);
    }

    @media (min-width: 1024px) {
        @include botao-padrao($width:400px);
        width: 100%;
    }

    &:hover {
        color: rgb(226, 206, 91);

        @media (min-width: 768px) {
            color: black;
        }
    }
}

.instagram {
    margin: 2rem 0;
}

.instagram__titulo {
    font-size: 31px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 2rem;
}


.vertical-dots {
    right: 20px;
    list-style: none;
    display: block;
    position: absolute;
    top: 5%;
    text-align: right;

    @media (min-width: 992px) {
        top: 15%;
    }
}

.vertical-dots li {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.vertical-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.vertical-dots li button:hover,
.vertical-dots li button:focus {
    outline: none;
}

.vertical-dots li button:hover:before,
.vertical-dots li button:focus:before {
    opacity: 1;
}

.vertical-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.vertical-dots li.slick-active button:before {
    opacity: .75;
    color: $cor-terciaria;
}

.paginator {
    position: relative;
    float: right;
    margin-bottom: 20px;

    li {
        margin-top: 20px;
        position: relative;
        float: left;

        margin-right: 20px;

        &.prev {
            display: block;
            margin-left: 1rem;
        }

        &.next {
            display: block;
            margin-right: 1rem;
        }
    }
}