@mixin botao-padrao ($width: 500px, $border-radius: 1.5rem, $bottom: 3rem,  $background-color: $cor-terciaria,  $color: $cor-secundaria, $padding: 1rem 0) {
    color: $color;
    background-color: $background-color;
    border: none;
    border-radius: $border-radius;
    font-size: 17px;
    font-weight: 700;
    padding: $padding;
    max-width: $width;
    margin-bottom: $bottom;
    align-content: center;
    cursor: pointer;
        &:focus{
            outline: none;
        }

        &:hover{
            transform: scale(1.01);
            background-color: rgb(226, 206, 91);
            color: $color;   
        }
}

@mixin botao-mobile() {
    border: none;
    background-color: transparent;
    color: $cor-terciaria;
    align-self: flex-start;
}

@mixin input-padrao ($background-color:$cor-principal,  $color: $cor-secundaria, $width: 300px, $margin-bottom: 1rem, $padding: .8rem 1rem) {
    border-radius: 2rem;
    width: $width;
    padding: $padding;
    margin-bottom: $margin-bottom;
    border: 1px solid;
    background-color:$background-color;
    text-align: left;
    color: $color;
        &:focus{
            outline: none;
        }

        &::-webkit-input-placeholder { 
            color: $cor-secundaria;
            opacity: .8;
            text-align: left;   
        }
}

button{
    &:focus{
        outline: none;
    }
}

@mixin text-area ($border:  1px solid white ) {
    background-color: transparent;
    border-radius: 2rem;
    resize: none;
    border: $border;
    padding: .8rem .5rem;
    width: 100%;

    &:focus{
        outline: none;
    }
    &::-webkit-input-placeholder { 
        color: $cor-principal;
        opacity: .8;
        text-align: left;   
    }
    @media (min-width: 768px){
        padding: .8rem 1rem;
        margin-left: .4rem;
    }
    @media (min-width:992px){
        padding: .8rem 3rem;
        margin-bottom: 1rem;
    }
}

@mixin fundo-padrao {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

@mixin titulo-mobile{
    font-size: 24px;
    color: $cor-principal;
    font-weight: 700;
}

@mixin titulo-desktop{
    font-size: 48px
}

@mixin fundo-pelo-mundo{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25vh;
    display: flex;
}

@mixin fundo-pelo-mundo-768 {
    width: 50%;
    height: 30vh;
}

a {
    text-decoration: none!important;

}