.mundo{
    display: flex;
}

.mundo-titulo{
    font-size: 31px;
    font-weight: 700;
    padding: 2rem 0;
    @media (min-width: 768px){
        font-size: 36px;
    }
}

.mundo-texto{
    color: black;
    text-align: center;
    font-weight: 700;
    font-size: 18px;   
    @media (min-width: 992px){
        font-size: 24px;   
    }
}

.mundo-botao{
    @include botao-padrao($bottom: 2rem);
    width: 100%;    
    padding: 1rem; 
}