body {
    padding-top: 88.59px;

    @media (min-width: 992px) {
        padding-top: 0;

    }
}

.navbar-logo {

    &:hover {
        transform: scale(1.03);
    }

    @media (min-width: 992px){
        width: 100%;
    }
}

.nav-link {
    color: white;

    &:hover {
        color: white;
        text-decoration: underline;
        font-weight: 700;
    }
}

nav {
    background-color: black;

    @media (min-width: 992px) {
        background-color: transparent;
    }
}

//navegacao nav bar
#nav_main {
    @include media-breakpoint-up(md) {

        padding: 30px 0;

        &.scrolled {
            padding: 10px 0;
        }
    }

    &.scrolled {
        background-color: black;
        transition: padding-top .3s linear, padding-bottom .3s linear;
    }

    &.nav-up {
        visibility: hidden;
        opacity: 0;
        transition: opacity .4s ease-in, padding-top .3s ease-in;
    }

    &.nav-down {
        visibility: visible;
        opacity: 1;
        transition: opacity .4s ease-in, padding-top .3s ease-in;
    }
}

//menu hamburguer
.icon-bar {
    width: 30px;
    height: 5px;
    background-color: white;
    display: block;
    transition: all .2s;
    margin-top: 4px;
    border-radius: 100px;
}

.navbar-toggler {
    border: none;
    background: transparent !important;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-42deg);
    transform-origin: -1% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}


.current-menu-item.active .nav-link{
    color: $cor-terciaria;
    font-weight: 700;
}