.nossos-cafes {
    @include fundo-padrao;
    padding-bottom: 2rem;

    @media (min-width: 1024px) {
        padding-top: 8.25rem;
    }
}

.nossos-cafes-article {
    display: flex;
    flex-direction: column;
}

.nossos-cafes-titulo {
    @include titulo-mobile;

    @media (min-width: 768px) {
        width: 500px;
    }

    @media (min-width: 1024px) {
        @include titulo-desktop;
        width: 918px;
    }
}

.nossos-cafes-detalhes {
    background-color: rgba(248, 248, 248, 1);
    padding: 2rem 0;
}

.nossos-cafes-detalhes-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nossos-cafes-detalhes-titulo {
    color: $cor-secundaria;
    font-size: 24px;

    @media (min-width: 768px) {
        align-self: flex-start;
    }

    @media (min-width: 1024px) {
        color: $cor-secundaria;
        font-size: 36px;

    }
}

.nossos-cafes-detalhes-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0,
}

.nossos-cafes-detalhes-img {
    margin: auto;
}

.nossos-cafes-detalhes-texto {
    font-weight: 500;
    font-size: 24px;
    width: 266px;
    text-align: center;
    font-weight: 700;
}


.nossos-cafes-detalhes-figure {
    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
    }


    @media (min-width: 1024px) {
        margin: 30px 0;
    }
}

.botao-detalhes{
    background-color: #F1F1F1;
    border: solid 2px black;
    color: black;
    padding: .5rem;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    width: 80%;
  
    text-align: center;
    &:focus{
        outline: none;
    }
    &:hover{
        transform: scale(1.01);
       opacity: .8;
       color: black;   
    }
}

.nossos-cafes-especiais {
    background-color: $cor-secundaria;
  
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;

    @media (min-width: 768px) {
        background-position: right;
    }
}

.nossos-cafes-especiais-article{
  padding-top: 2rem;
}

.nossos-cafes-especiais-titulo {
    font-size: 31px;
    font-weight: 700;
    color: $cor-principal;

    @media (min-width: 768px) {
        font-size: 48px;
    }
}

.nossos-cafes-especiais-texto {
    color: $cor-principal;
    margin: 30px 0;
    line-height: 1.5;


    @media (min-width: 768px) {
        font-size: 18px;

    }
}

.nossos-cafes-especiais-titulo-dois {
    padding-top: 2rem;
    font-size: 36px;
    font-weight: 700;
    color: black;
    margin-bottom: 30px;
}

.nossos-cafes-especiais-texto-dois {
    color: black;
    line-height: 1.5;
}

//metodos com imagem

.nossos-cafes-especiais-metodos-titulo {
    color: black;
    font-weight: 700;
    margin-bottom: 22px;

    @media (min-width:768px) {
        margin-bottom: 5px;
    }
}

.nossos-cafes-especiais-metodos-texto {
    color: black;
    line-height: 1.5;
}

.nossos-cafes-especiais-metodos {

    @media (min-width:768px) {
        display: flex;
        width: 80%;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}