.produto-slide{
    display: flex;
    flex-direction: column;  
}

.produto-slide-article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    margin: 30px auto;
    width: 100%;    
}

.slide-color{
    margin: 30px 0;
}

.produto-slide-titulo{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.produto-slide-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.produto-slide-card{
    align-items: center;
    background-color: $cor-principal;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    display: flex;
    flex-direction: column;
    height: 240px;
    justify-content: space-evenly;
    margin-left: .5rem;
    margin-top: 1rem;
    width: 204px;
}

.produto-slide-card-texto{
    font-size: 18px;
    text-align: center;
}

.produto-slide-botao{
    
   @include botao-padrao ($width: 204px);
    width: 100%;
    margin-top: 1rem;
    margin-left: .5rem;

        a{
            color: $cor-secundaria;
            font-style: normal;
        }
}

.produto-slide-cards.slick-active{
    &:hover{
        transform: scale(1.01);
    }
    &:focus{
        outline: none;
    }
}

button.slick-prev.slick-arrow::before{
    color: black;
}

button.slick-next.slick-arrow::before{
    color: black;
}