.qualidade-selo {
    background-image: url('../imgs/home-qualidade-m.png');
    background-repeat: no-repeat;
    background-size: cover;


    @media (min-width: 768px) {
        background-image: url('../imgs/home-qualidade.png');
    }
}

.qualidade-selo-article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 0;
}

.qualidade-selo-titulo {
    color: $cor-principal;
    font-size: 31px;
    font-weight: 700;
    width: 174px;
    margin-bottom: 3rem;

    @media (min-width: 768px) {
        width: 600px;
    }
}

.qualidade-selo-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.qualidade-selo-img-sp {
    margin: 0 auto;
    
}

.qualidade-selo-img {
    margin: 0 auto;
  
}

.qualidade-selo-img-nw{
    margin: auto;
    height: 128px;
    width: 127%;
}

.qualidade-selo-texto {
    text-align: center;
    font-size: 14px;
    margin: 1rem 2rem;
    color: $cor-principal;
    font-weight: 400;
    line-height: 1rem;
}

.slick-dots li button:before {
    font-size: 8px;
    line-height: 10px;
}

.slick-dots li.slick-active button::before {
    color: $cor-terciaria;
    opacity: .4;
}

.slick-dots {

    @media (min-width: 768px) {
        left: 150px;
        bottom: 0;
        align-self: center;
    }

}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

figure.selos img {
    height: auto !important;

}