.selos {
    display: flex;
    justify-content: center;
}

.selo-um {
    margin: 0 auto;
    width: 10%;
    @media (min-width: 992px) {
       
    }

}

.selo-dois {
    margin: auto;
    width: 15%;

    @media (min-width: 992px) {
        padding: 1rem;
    }

}

.selo-tres {
    margin: auto;
    width: 20%;

    @media (min-width: 992px) {
        width: 15%;

    }
}

.selo-quatro {
    margin: auto;
    width: 25%;

    @media (min-width: 992px) {
   
    }
}